<%= simple_form_for(resource, as: resource_name,
  url: session_path(resource_name), html: { class: 'form-signin' }) do |f| %>

  <h2 class="form-signin-heading">Login</h2>

  <%= bootstrap_flash %>

  <%= f.input :email, required: false, label: false, autofocus: true,
    placeholder: 'E-mail', input_html: { class: 'input-block-level' } %>

  <%= f.input :password, required: false, label: false, placeholder: 'Senha',
    input_html: { class: 'input-block-level' } %>

  <label class="checkbox">
    <input name="user[remember_me]" type="checkbox" value="0">
    Mantenha-me conectado
  </label>

  <hr />

  <div class="actions">
    <%= f.button :submit, 'Entrar', class: 'btn-large btn-primary' %>
    <%= render partial: 'devise/shared/links' %>
  </div>
<% end %>
