<% categories = Category.where(true) %>
<% edition_categories = form.object.categories %>
<% selected_categories = [] %>

<input type="hidden" name="edition[node_fake]" value="<%= form.object.node_fake %>" id="edition_node_fake_input" />

<ul id="app-categories-list">
  <% items = ActiveSupport::JSON.decode(form.object.node_fake) %>

  <% unless items.blank? %>
    <% items.each do |n| %>
      <% category = categories.find_by_id(n[1]) %>

      <% if edition_categories.include? category %>
        <li>
          <input type="text" value="<%= n[0] %>" />
          <select disabled="disabled">
            <option value="<%= n[1] %>">
              <% selected_categories << category %>
              <%= category.name %>
            </option>
          </select>
          <a href="javascript:void(0);" class="btn">Remover</a>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>

<p id="app-add-item">
  <input type="text" placeholder="Índice" />
  <select>
      <option selected="selected">Escolha um indicador</option>
    <% categories.each do |c| %>
      <% unless selected_categories.include? c %>
        <option value="<%= c.id %>"><%= c.name %></option>
      <% end %>
    <% end %>
  </select>

  <a href="javascript:void(0);" class="btn btn-primary">Adicionar</a>
</p>

<script type="text/javascript">
  function updateNodeFakeValue () {
    var new_value = [];

    $.each($('#app-categories-list li'), function (index, value) {
      var item = '';

      item += '\"' + $(value).find('input').val() + '\"' + ','
      item += $(value).find('option:selected').val();
      item = '[' + item + ']';

      new_value.push(item);
    });

    $('#edition_node_fake_input').attr('value',
      '[' + new_value.join(',') + ']');
  }

  $(function () {
    $('#app-add-item a.btn-primary').click(function () {
      var selected_item = $('#app-add-item option:selected');
      var index = $('#app-add-item input').val();

      if (selected_item.attr('value')) {
        $('#app-categories-list').append([
          '<li>',
            '<input type="text" value="', index, '" /> ',
            '<select disabled="disabled">',
              '<option selected="selected" value="',
                selected_item.attr('value'), '">', selected_item.text(),
              '</option>',
            '</select> ',
            '<a href="javascript:void(0);" class="btn">Remover</a>',
          '</li>'
        ].join(''));

        selected_item.remove();

        updateNodeFakeValue();
      }
    });
  });

  $(function () {
    $('#app-categories-list').on('click', 'li a.btn', function () {
      var item = $(this).prev().find('option:selected');
      var index = item.val();

      $('#app-add-item select').append(
        '<option value="' + index + '">' + item.text() + '</option>'
      );

      $(this).parent().remove();

      updateNodeFakeValue();
    });
  });

  $(function () {
    $('#app-categories-list').sortable();
    $('#app-categories-list').on('sortstop', function (event, ui) {
      updateNodeFakeValue();
    });
  });

  $(function () {
    $('#app-categories-list li input').keyup(function () {
      updateNodeFakeValue();
    });
  });
</script>

<style type="text/css">
  #app-categories-list {
    margin: 0;

    list-style: none;
  }

  #app-categories-list li {
    margin-bottom: 10px;
  }

  #app-categories-list input, #app-add-item input {
    width: 50px;
  }
</style>
