<input type="hidden" name="value[values]" value="<%= form.object.values %>" id="value_values">

<table id="categories_list" class="table table-bordered" style="width: auto;">
  <tbody>
    <% Category.all.each.with_index do |c, i| %>
      <% tr_class = c.editions.collect { |c| 'edition_' + c.id.to_s } * ' ' %>
      <% items = ActiveSupport::JSON.decode(form.object.values) %>
      <% item = items.nil? ? nil : (items.select {|it| it[0] == c.id }).first %>

      <% unless item.nil? %>
        <tr class="<%= tr_class %>" data-category-id="<%= c.id %>">
          <th style="vertical-align: middle;"><%= c.name %></th>
          <td><input type="text" style="width: 60px;" value="<%= item[1] %>" /></td>
        </tr>
      <% else %>
        <tr class="disabled <%= tr_class %>" data-category-id="<%= c.id %>">
          <th style="vertical-align: middle;"><%= c.name %></th>
          <td><input type="text" style="width: 60px;" disabled="disabled" /></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<style type="text/css">
  #categories_list .disabled th {
    color: #ccc;
  }
</style>

<script type="text/javascript">
  var elem = document.getElementById('value_edition_id');
  var elem_val = $('#value_edition_id option:selected').val();

  function updateValues () {
    var new_value = [];

    $.each($('#categories_list tr input:enabled'), function (index, value) {
      var item = '';

      item += $(value).parent().parent().data('category-id') + ',';
      item += '\"' + $(value).val() + '\"';
      item = '[' + item + ']';

      new_value.push(item);
    });

    $('#value_values').attr('value',
      '[' + new_value.join(',') + ']');
  }

  elem.addEventListener('DOMSubtreeModified', function() {
    var current_val = $('#value_edition_id option:selected').val();

    if (current_val != undefined && current_val != '' &&
      elem_val != current_val) { elem_val = current_val; }

    var $edition_elem = $('.edition_' + elem_val);

    $('#categories_list tr').addClass('disabled').
      find('input').attr('disabled', 'disabled');

    $edition_elem.removeClass('disabled').
      find('input').removeAttr('disabled');

    updateValues();
  });

  $(function () {
    $('#categories_list tr input').keyup(function () {
      updateValues();
    });
  });
</script>
