<div class="qbox">
  <h3><i class="icon-search pull-right"></i>Compare os países</h3>

  <form>
    <p>Faça uma comparação entre dois países e veja a diferenças
    de pontuação para cada uma dos componentes do Índice.</p>

    <hr />

    <div class="app-country-field">
      <select data-placeholder="Escolha um país" class="chzn-select" style="width:100%;" tabindex="0">
        <% @countries.each do |c| %>
        <option value="<%= c.id %>"><%= c.name %></option>
        <% end %>
      </select>
    </div>

    <p style="text-align:center;" class="app-vs">Vs.</p>

    <div class="app-country-field">
      <select data-placeholder="Escolha um país" class="chzn-select" style="width:100%;" tabindex="0">
        <% @countries.each do |c| %>
          <option value="<%= c.id %>"><%= c.name %></option>
        <% end %>
      </select>
    </div>

    <button class="btn btn-inverse btn-small">Comparar</button>
  </form>
</div>
