<div id="app-country-title" class="app-country-<%= @country.code %>">
  <h2><%= @country.name %></h2>
</div>

<div id="app-country-info">
  <div class="row-fluid">

    <p class="country-position span2">
      <span>Posição</span>

      <strong>23º</strong>

      <span>9.9<br />
        <em>Pontuação global</em>
      </span>
    </p>

    <p class="country-thumbnail span3">
      <%= image_map_tag(@country.name) %>
    </p>

    <div class="country-graph span7">

    </div>

  </div>
</div>


<%= content_for :scripts do %>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script type="text/javascript">

  $(function () {
    $('#app-country-info .country-graph').highcharts({
      chart: {
        type: 'line'
      },
      title: { text: null },
      xAxis: {
        categories: [ <%= (@editions.collect { |e| e.name } * ',').html_safe %> ]
      },
      yAxis: {
        title: { text: null },
        plotLines: [{ value: 0, width: 1, color: '#fff' }]
      },
      legend: { enabled: false },
      series: [{
        color: '#66a620',
        name: '<%= escape_javascript(@country.name) %>',
        data: [ <%= (@values.collect { |c| c.total } * ',').html_safe %> ]
      }]
    });
  });

</script>

<% end %>
