<div id="map">
</div>

<div class="row-fluid" id="app-map-colors-degree">
  <p class="span6">Menos livres</p>
  <p class="span6">Mais livres</p>
</div>

<div class="body-text">

  <div class="container-fluid">

    <div class="row-fluid">

			<!--west pane span9-->
			<div class="span9">
				<div class="row-fluid">
					<h1>Os campeões de liberdade</h1>
				</div>

        <div class="row-fluid hotproperties">

          <% @values.limit(3).each.with_index do |v, i| %>
            <div class="span4 set-equal-heights-js freer">
              <div class="thumbnail">
                <%= link_to image_map_tag(v.country.name), '#' %>

                <div class="caption">
                  <%= link_to v.country.name, '#', class: 'prop-title' %>

								  <p class="app-home-ranking-detail">
                    <strong><%= i + 1 %>º</strong>
                    <strong><%= v.total.round(2) %><em>pontuação global</em>
                    </strong>

                    <%
                      old_value = @penultimate_edition_values.
                        where(country_id: v.country.id).first

                      variation = v.total - old_value.total unless old_value.nil?
                    %>

                    <strong>
                      <% if    variation < 0 %>
                        <i class="icon-chevron-down"></i>
                        <%= variation.round(2).abs %>
                      <% elsif variation > 0 %>
                        <i class="icon-chevron-up"></i>
                        <%= variation.round(2).abs %>
                      <% end %>
                    </strong>
								  </p>

                  <ul class="list-btns">
                    <li>
                      <a href="property.html"><i class="icon-info-sign"></i>Detalhes</a>
                    </li>
                  </ul>
							  </div>
              </div>
            </div>
          <% end %>

        </div>

			</div><!--end of west pane span9-->

			<!-- east pane with width of span3 -->
			<div class="span3">
        <%= render partial: 'comparate_box' %>
			</div>
			<!-- end of span3 -->

		</div>
	</div>
</div>

<%= content_for :scripts do %>
  <script type="text/javascript">
    var gdp_data = {
      <%= (@values.
        collect { |v| "'#{v.country.code}': #{v.total}" } * ',').html_safe %>
    };

    $(function () {
      $('#map').vectorMap({
          backgroundColor: 'transparent', zoomOnScroll: false,
          regionsSelectable: true, regionsSelectableOne: true,
          zoomStep: 1.2,
          series: {
            regions: [{
              values: gdp_data,
              scale: ['#ad0330', '#da7c38', '#d8be1e', '#a3da39', '#66a620'],
              normalizeFunction: 'linear'
            }]
          },
          onRegionLabelShow: function(e, el, code){
            el.html(el.html()+ ' (' + gdp_data[code] + ')');
          }
      });
    });
  </script>
<% end %>
