<div id="app-top-highlight">
  <%= render partial: 'comparate_box' %>
</div>

<div class="body-text">

	<h1 class="app-title">Ranking dos países</h1>

  <% free = @values.where('total <= 10.0 AND total >= 8.0') %>

  <h2 class="app-title free">
    <strong>Livres</strong>
    <em>(10 - 8)</em>
  </h2>

  <div class="app-ranking">
    <% free.each.with_index do |v, i| %>
      <%
        old_value = @penultimate_edition_values.where(country_id: v.country.id).
          first

        variation = v.total - old_value.total unless old_value.nil?
      %>

      <div class="app-elem row-fluid">
	      <div class="span3 app-pos"><%= i + 1 %>º</div>

	      <div class="span9">
		      <h3><a href="#"><%= v.country.name %></a></h3>
		      <p>
		        <small><strong>Total: <%= v.total.round(2) %></strong></small><br />

            <% if    variation < 0 %>
              <small>Variação: <i class="icon-chevron-down"></i>
              <%= variation.round(2).abs %></small>
            <% elsif variation > 0 %>
              <small>Variação: <i class="icon-chevron-up"></i>
              <%= variation.round(2).abs %></small>
            <% end %>
		      </p>
	      </div>
      </div>
    <% end %>
  </div>

  <% mostly_free = @values.where('total < 8.0 AND total >= 7.0') %>

  <h2 class="app-title mostly-free">
    <strong>Majoritariamente livres</strong>
    <em>(7.9 - 7)</em>
  </h2>

  <div class="app-ranking">
    <% mostly_free.each.with_index do |v, i| %>
      <%
        old_value = @penultimate_edition_values.where(country_id: v.country.id).
          first

        variation = v.total - old_value.total unless old_value.nil?
      %>

      <div class="app-elem row-fluid">
	      <div class="span3 app-pos"><%= i + 1 %>º</div>

	      <div class="span9">
		      <h3><a href="#"><%= v.country.name %></a></h3>
		      <p>
		        <small><strong>Total: <%= v.total.round(2) %></strong></small><br />

            <% if    variation < 0 %>
              <small>Variação: <i class="icon-chevron-down"></i>
              <%= variation.round(2).abs %></small>
            <% elsif variation > 0 %>
              <small>Variação: <i class="icon-chevron-up"></i>
              <%= variation.round(2).abs %></small>
            <% end %>
		      </p>
	      </div>
      </div>
    <% end %>
  </div>

  <% moderately_free = @values.where('total < 7 AND total >= 6.0') %>

  <h2 class="app-title moderately-free">
    <strong>Moderadamente livres</strong>
    <em>(6.9 - 6)</em>
  </h2>

  <div class="app-ranking">
    <% moderately_free.each.with_index do |v, i| %>
      <%
        old_value = @penultimate_edition_values.where(country_id: v.country.id).
          first

        variation = v.total - old_value.total unless old_value.nil?
      %>

      <div class="app-elem row-fluid">
	      <div class="span3 app-pos"><%= i + 1 %>º</div>

	      <div class="span9">
		      <h3><a href="#"><%= v.country.name %></a></h3>
		      <p>
		        <small><strong>Total: <%= v.total.round(2) %></strong></small><br />

            <% if    variation < 0 %>
              <small>Variação: <i class="icon-chevron-down"></i>
              <%= variation.round(2).abs %></small>
            <% elsif variation > 0 %>
              <small>Variação: <i class="icon-chevron-up"></i>
              <%= variation.round(2).abs %></small>
            <% end %>
		      </p>
	      </div>
      </div>
    <% end %>
  </div>

  <% mostly_unfree = @values.where('total < 6 AND total >= 5.0') %>

  <h2 class="app-title mostly-unfree">
    <strong>Majoritariamente não livres</strong>
    <em>(5.9 - 5)</em>
  </h2>

  <div class="app-ranking">
    <% mostly_unfree.each.with_index do |v, i| %>
      <%
        old_value = @penultimate_edition_values.where(country_id: v.country.id).
          first

        variation = v.total - old_value.total unless old_value.nil?
      %>

      <div class="app-elem row-fluid">
	      <div class="span3 app-pos"><%= i + 1 %>º</div>

	      <div class="span9">
		      <h3><a href="#"><%= v.country.name %></a></h3>
		      <p>
		        <small><strong>Total: <%= v.total.round(2) %></strong></small><br />

            <% if    variation < 0 %>
              <small>Variação: <i class="icon-chevron-down"></i>
              <%= variation.round(2).abs %></small>
            <% elsif variation > 0 %>
              <small>Variação: <i class="icon-chevron-up"></i>
              <%= variation.round(2).abs %></small>
            <% end %>
		      </p>
	      </div>
      </div>
    <% end %>
  </div>

  <% unfree = @values.where('total < 5 AND total >= 0.0') %>

  <h2 class="app-title unfree">
    <strong>Não livres</strong>
    <em>(4.9 - 0)</em>
  </h2>

  <div class="app-ranking">
    <% unfree.each.with_index do |v, i| %>
      <%
        old_value = @penultimate_edition_values.where(country_id: v.country.id).
          first

        variation = v.total - old_value.total unless old_value.nil?
      %>

      <div class="app-elem row-fluid">
	      <div class="span3 app-pos"><%= i + 1 %>º</div>

	      <div class="span9">
		      <h3><a href="#"><%= v.country.name %></a></h3>
		      <p>
		        <small><strong>Total: <%= v.total.round(2) %></strong></small><br />

            <% if    variation < 0 %>
              <small>Variação: <i class="icon-chevron-down"></i>
              <%= variation.round(2).abs %></small>
            <% elsif variation > 0 %>
             <small> Variação: <i class="icon-chevron-up"></i>
              <%= variation.round(2).abs %></small>
            <% end %>
		      </p>
	      </div>
      </div>
    <% end %>
  </div>

</div>
