/*
**= require select2
**= require jquery-jvectormap-1.2.2
**= require_tree .
**= require_self
*/

div:after, ol:after, form:after, ul:after, dl:after, li:after,
.app-title:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

body {
    height: auto;
    background: url("/assets/bg2.png") center;
}

#app-wrapper {
    height: auto;
    background: url("/assets/bg.png") no-repeat center top;
}

h1, h2, .prop-title {
    color: #fff;
    text-shadow: none;
}



footer .contact-info {
    color: #2d4f15;
    text-transform: none;
}

footer .contact-info a {
    color: #fff;
}

footer .contact-info a:hover {
    text-decoration: underline;
}

.appartment-listing .prop-title, a.prop-title, a.prop-title {
    font-size: 22px;
}

.freer a, .freer p, .freer p.description {
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}

.freer a:hover {
    color: #2d4f15;
    text-decoration: none;
    text-shadow: none;
}

.freer .list-btns {
    margin: 0;
}

h1.app-title {
    font-size: 32px;
}

h2.app-title {
    margin: 20px 0 0 0;
    font-size: 24px;
}

#map {
    padding-bottom: 40px;
    height: 450px;

    border-radius 0 0 5px 5px;
    background: #daecff;
    box-shadow: 0 3px 5px rgba(0, 0 ,0, 0.4),
        inset 0 0 100px 2px rgba(0, 0, 0, 0.4),
        inset 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.app-title strong {
    margin-right: 1px;
    padding: 4px 20px;
    display: block;
    float: left;

    color: #fff;
    text-shadow: none;
    background: #2d4f15;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.app-title em {
    margin: 10px 0 0 0;
    padding: 4px 10px;
    display: block;
    float: left;

    color: #fff;
    font-size: 18px;
    font-style: normal;
    text-shadow: none;
    background: #62c41b;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.app-title.free strong {
    background: #66a620;
}

.app-title.mostly-free strong {
    background: #a3da39;
}

.app-title.moderately-free strong {
    background: #d8be1e;
}

.app-title.mostly-unfree strong {
    background: #da7c38;
}

.app-title.unfree strong {
    background: #ad0330;
}

.app-ranking > .app-elem {
    margin: 0 1px 1px 0 !important;
    padding-right: 10px;
    width: 224px;
    height: 112px;
    float: left;

    background: #fff;
}

.app-ranking > .app-elem .app-pos {
    padding: 10px 0 0 10px;
    min-height: 92px;

    font-size: 20px;
}

.app-ranking > .app-elem h3 {
    font-size: 14px;
}

.app-graphic-options {
    padding: 10px;

    color: #F6F6F6;
    text-shadow: 0 1px #000000, 0 0 0.2em rgba(0, 0, 0, 0.7);
    font-size: 14px;
    border-radius: 3px 3px 0 0;
    background-color: #363636;
    background-image: -moz-linear-gradient(top, #444444, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
    background-image: -webkit-linear-gradient(top, #444444, #222222);
    background-image: -o-linear-gradient(top, #444444, #222222);
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-repeat: repeat-x;
    border-color: #222 #222 black;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.app-graphic-options h2 {
    color: #fff;
    text-shadow: none;
}

.app-graphic-options nav {
    padding: 3px;
    position: absolute;

    background: #fff;
}

.app-graphic-options nav ul {
    margin: 0;
    list-style: none;

    color: #000;
    text-shadow: none;
}

.app-graphic-options .app-lvl-1 span {
    padding-left: 20px;
}

.app-graphic-options .app-lvl-2 span {
    padding-left: 40px;
}

.app-graphic-options .app-lvl-3 span {
    padding-left: 60px;
}

.app-graphic-options .app-lvl-3 span {
    padding-left: 80px;
}

.app-graphic-options nav ul span {
    padding: 2px 8px;
    display: block;

    cursor: pointer;
    font-size: 12px;
    border-radius: 3px;
}

.app-graphic-options nav ul li > span:hover {
    color: #fff;
    background: #61c419;
}

/*
** Ranking detail
*/

.app-home-ranking-detail:before {
    margin: -20px 0 0 20px;
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    content: "";

    border: 10px solid rgba(0, 0, 0, 0.2);
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}

.app-home-ranking-detail {
    margin-top: 20px;
    height: 50px;

    background: rgba(0, 0, 0, 0.2);
}

.app-home-ranking-detail strong {
    padding-left: 10px;
    display: block;
    float: left;
    width: 60px;
    line-height: normal;
}

.app-home-ranking-detail strong:first-child {
    margin-top: 5px;
    padding-right: 10px;
    width: 30px;

    font-size: 30px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.app-home-ranking-detail strong:nth-child(2) {
    padding-top: 5px;
    width: 80px;

    font-size: 16px;
}

.app-home-ranking-detail strong:nth-child(2) em {
    display: block;

    font-size: 10px;
    font-weight: normal;
    font-style: normal;
}

.app-home-ranking-detail strong:last-child {
    padding-top: 5px;
    width: 50px;

    font-size: 16px;
}

.navbar-form .select2-container .select2-choice {
    height: 28px;

    border-radius: 4px 0 0 4px !important;
}

.navbar-form .select2-container .select2-choice div {
    border-radius: 0 !important;
}

#app-map-colors-degree {
    margin: -21px 0 0 399px;
    padding: 5px 20px;
    width: 500px;
    height: 10px;

    background: rgb(173,3,48); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(173,3,48,1) 0%, rgba(218,124,56,1) 23%, rgba(216,190,30,1) 48%, rgba(163,218,57,1) 75%, rgba(102,166,32,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(173,3,48,1)), color-stop(23%,rgba(218,124,56,1)), color-stop(48%,rgba(216,190,30,1)), color-stop(75%,rgba(163,218,57,1)), color-stop(100%,rgba(102,166,32,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(173,3,48,1) 0%,rgba(218,124,56,1) 23%,rgba(216,190,30,1) 48%,rgba(163,218,57,1) 75%,rgba(102,166,32,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(173,3,48,1) 0%,rgba(218,124,56,1) 23%,rgba(216,190,30,1) 48%,rgba(163,218,57,1) 75%,rgba(102,166,32,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(173,3,48,1) 0%,rgba(218,124,56,1) 23%,rgba(216,190,30,1) 48%,rgba(163,218,57,1) 75%,rgba(102,166,32,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(173,3,48,1) 0%,rgba(218,124,56,1) 23%,rgba(216,190,30,1) 48%,rgba(163,218,57,1) 75%,rgba(102,166,32,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad0330', endColorstr='#66a620',GradientType=1 ); /* IE6-9 */
}

#app-map-colors-degree p {
    margin: -5px 0 0 0;
    line-height: normal;

    color: #fff;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

#app-map-colors-degree p:last-child {
    text-align: right;
}

/*
** Top highlight comparate box
*/

#app-top-highlight .qbox {
    margin: 0 !important;

    border-radius: 0 0 5px 5px;
    border: 0;
    background: #fff;
}

#app-top-highlight .qbox h3 {
    margin: 0;
    padding: 0;

    color: #66a620;
    font-size: 32px;
    text-shadow: none;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
}

#app-top-highlight .qbox h3 i {
    display: none;
}

#app-top-highlight .qbox p {
    font-size: 14px;
    font-weight: normal;
}

#app-top-highlight .app-country-field {
    width: 200px;
    float: left;
}

#app-top-highlight .app-vs {
    width: 40px;
    float: left;
}

#app-top-highlight .btn {
    margin: 0 0 0 20px;
    width: 100px;
    float: left;
}

/*
** Country title
*/

#app-country-title {
    padding: 30px 30px 0 30px;
    background: #fff;

    border-radius: 0 0 6px 6px;
}

#app-country-title h2 {
    margin: 0;

    color: #66a620;
    font-size: 48px;
}

/*
** Country info
*/

#app-country-info {
    margin: 20px 0 0 0;
    padding: 10px;

    border-radius: 6px;
    background: #fff;
}

#app-country-info .country-position {
    margin-bottom: 0;
    padding: 10px;
    height: 151px;

    color: #fff;
    border-radius: 6px;
    background: #66a620;
}

#app-country-info .country-position:after {
    margin: -70px 0 0 124px;
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;

    border: 10px solid #66a620;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

#app-country-info .country-position strong {
    display: block;
    line-height: normal;

    font-size: 48px;
    text-align: center;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}

#app-country-info .country-position span {
    padding-top: 10px;
    display: block;

    font-size: 28px;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

#app-country-info .country-position span em {
    font-size: 10px;
    font-style: normal;
}

#app-country-info .country-position span:first-child {
    margin: -10px -10px 0 -10px;
    padding: 0;
    font-size: 14px;

    border: 0;
    text-shadow: 0 1px 0 #000;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

#app-country-info .country-thumbnail {
    margin-bottom: 0;
}

#app-country-info .country-graph {
    height: 150px;
}
