html, body {
    padding: 0;
    height: 100%;
}

#login_page {
    background: #b4e391;
    background: -moz-radial-gradient(center, ellipse cover, #b4e391 0%, #61c419 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #b4e391), color-stop(100%, #61c419));
    background: -webkit-radial-gradient(center, ellipse cover, #b4e391 0%, #61c419 100%);
    background: -o-radial-gradient(center, ellipse cover, #b4e391 0%, #61c419 100%);
    background: -ms-radial-gradient(center, ellipse cover, #b4e391 0%, #61c419 100%);
    background: radial-gradient(ellipse at center, #b4e391 0%, #61c419 100%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#61c419', endColorstr='#b4e391', GradientType=1);
}

.singin_box {
    margin-top: 0;
}

.form-signin {
    margin: 60px auto 20px auto;
    padding: 20px 30px 60px 30px;
    max-width: 300px;

    border-radius: 5px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.form-signin h2 {
    margin-bottom: 30px !important;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin input[type="email"],
.form-signin input.email,
.form-signin input[type="password"] {
    margin-bottom: 15px;
    padding: 7px 9px;
    height: auto;

    font-size: 16px;
}

.form-signin .actions a {
    float: left;
}

.simple_form > div:first-child:after {
    content: none;
}

.form-signin .actions input[type="submit"] {
    float: right;
}

.form-signin .actions br {
    display: none;
}

.form-signin.form-horizontal .controls {
    margin-left: 0;
}
