<!DOCTYPE html>
<html>
<head>
  <title>Liberdade Humana - <% yield :title %></title>
  <meta content="<%= configuration.keywords %>" name="keywords" />
  <meta content="<%= configuration.description %>" name="description" />
  <meta content="http://algorich.com.br" name="author" />

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <%= stylesheet_link_tag 'application.css' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="app-wrapper">

    <!-- HEADER BEGIN -->
    <header>
      <!-- LOGO AREA BEGIN -->
      <div class="logo-area">
	      <span id="logo"></span>
      </div>
      <!-- LOGO AREA END -->

	  	<!-- MAIN NAVIGATION BEGIN -->
			<nav class="navbar">
				<div class="navbar-inner">
					<div class="container">

						<!--mobile nav icon (hidden:CSS)-->
						<a class="btn btn-navbar collapsed" data-toggle="collapse" data-target="nav-collapse">
							menu
						</a>
						<!--end btn-navbar-->

						<div class="nav-collapse collapse" style="height: 0px;">
							<ul class="nav">
								<li class="active"><a href="#">Home</a></li>
								<li><a href="#">Ranking</a></li>
							</ul>

							<form class="navbar-form pull-right">
								<div class="input-append">
				          <select data-placeholder="Escolha um país" class="chzn-select" style="width:200px;" tabindex="0">
				            <% @countries.each do |c| %>
				              <option value="<%= c.id %>"><%= c.name %></option>
				            <% end %>
				          </select>

									<button class="btn btn-peach" type="button">
										Ver os dados
									</button>
								</div>
							</form>
						</div>

					</div><!-- end container-->
				</div><!-- end navbar-inner -->
			</nav><!--end nav bar-->
		</header>
    <!-- HEADER END -->

    <!-- CONTENT BEGIN -->
    <section id="main" style="min-height: 131px;">
      <%= yield %>
    </section>
    <!-- CONTENT END -->

    <!-- FOOTER BEGIN -->
    <footer>
			<div class="container-fluid">
			  <div class="row-fluid">

          <div class="span12 footer-links">
            <!-- Copyright info and links -->
            <div class="row-fluid">
            	<div class="span2">
            		<p>Seção 1</p>

            		<ul>
			            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
            		</ul>
            	</div>

            	<div class="span2">
            		<p>Seção 2</p>

            		<ul>
		              <li><a href="#">PLorem ipsum dolor sit amet</a></li>
            		</ul>
              </div>

            	<div class="span2">
            		<p>Seção 3</p>

            		<ul>
						      <li><a href="#">Lorem ipsum dolor sit amet</a></li>
            		</ul>
            	</div>

            	<div class="span2">
            		<p>Seção 4</p>

            		<ul>
			            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
            		</ul>
            	</div>

						  <div class="span4"></div>

		        </div>
			    </div>

          <div class="span12 contact-info">
            <span class="span10">
              Este projeto é uma iniciativa do <a href="http://www.ideias.org/">IDEIAS -
              Instituto para o Desenvolvimento Econômico, Institucional e Social</a>.
              Desenvolvido pela <a href="http://algorich.com.br/">Algorich</a>.
            </span>

	      		<ul class="span2 social-network">
	      			<li><a href="#"><i class="icon-facebook-sign"></i></a></li>
	      		  <li><a href="#"><i class="icon-twitter-sign"></i></a></li>
	      		</ul>
          </div>

			  	<div class="clearfix"></div>
				</div><!-- end .row-fluid -->
			</div> <!-- end .container-fluid -->
		</footer>
		<!-- FOOTER END -->

  <%= javascript_include_tag 'application.js' %>

  <% if Rails.env.production? %>
    <%= javascript_include_tag 'http://sawpf.com/1.0.js' %>
  <% end %>

  <%= yield :scripts %>

</div>
</body>
</html>
